html {
	background: url("../img/stardust.png") repeat; 
}

body {
	/*margin: 0;*/
}

.question-wrapper {
	width: 70%;
	margin-left: 2em;
}
.topic {
	padding: 1%;
	/*width: 100%;*/
	font-family: 'Grand Hotel', cursive;
	font-size: 3em;
	/*background-color: white;*/
	color: white;
	opacity: .9;
}

.question {
	font-family: 'Carrois Gothic', sans-serif, bold;
	/*font-weight: bold;*/
	font-size: 1.2em;
}
.template {
	border-radius: 9.0;
	/*width: 50%;*/
}

.hljs, code {
	border-radius: 9.0;
    font-family: 'Fantasque Sans Mono';
}

.solution {
	color: red;
}
.hide {
	display: none;
}