body {
	background: url("../img/knitting.png") repeat; 
	z-index: 1;
}


#header {
	color: black;
	font-family: 'Carrois Gothic', sans-serif, bold;
}

.question-wrapper {
	width: 70%;
	margin-left: 2em;
	padding-bottom: 1%;
}
.topic {
	padding-left: 1%;
	/*width: 100%;*/
	font-family: 'Grand Hotel', cursive;
	font-size: 3em;
	/*background-color: white;*/
	/*color: #474949;*/
	color: black;
	opacity: .9;
}

.question {
	font-family: 'Carrois Gothic', sans-serif, bold;
	/*font-weight: bold;*/
	color:  #8abeb7;
	font-size: 1.2em;
}
.template {
	border-radius: 9.0;
	/*width: 50%;*/
}

.hljs, code {
	border-radius: 9.0;
    font-family: 'Fantasque Sans Mono';
}

.solution {
	font-family: 'Carrois Gothic', sans-serif, bold;
	color: white;
}
.hide {
	display: none;
}


.nav.top {
	text-align: right;
	top: .1em;
	right: .1em;
	padding: 1%;
	border-radius: 5%;
	position: fixed;
	background: black;
	font-size: 1em;
	z-index: 4;
}

.nav.top a {
	font-family: 'Carrois Gothic', sans-serif;
	color:  #8abeb7;
	text-decoration: none;
}

.nav.top a:hover {
	background: transparent;
	font-weight: normal;
	color: white;
}
