@font-face
{
font-family: DejaVuMono;
src: url(fonts/DejaVuSansMono.tff);
}

@font-face
{
font-family: DejaVuMonoBold;
src: url(fonts/DejaVuSansMono-Bold.tff);
}

@font-face
{
font-family: FjallaOne;
src: url(fonts/FjallaOne-Regular.tff);
}

