html {
	background: url('../img/cartographer.png');
}

.header {
	font-family: 'Grand Hotel', cursive;
	height: 80%;
	color: grey;
	font-size: 2em;
}

.container {
	height: 100%;
	padding: 20px;
	text-align: center;
}

img {
	text-align: center;
	max-height: 75%;
	width: auto;
	/*max-width: 80%;*/
	border-radius: 10px;
}

span {
	font: 'Arial';
	text-align: left;
	color: white;
}

.title {
	font-family: 'Signika', cursive;
	font-size: 2em;	
}

.description {
	font-family: 'Signika';
}